html, body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap; }

div {
  display: flex;
  width: 95%;
  height: 20%;
  border-collapse: collapse; }
  div item {
    display: flex;
    width: 100%;
    height: 100%;
    border: solid 0.7vw #89a0a6;
    border-right-width: 1.2vw;
    border-left-width: 1.2vw;
    flex-direction: row;
    text-color: darkblue; }
    div item .checkbox {
      width: 2vw;
      height: 2vw;
      position: relative;
      top: 1vw;
      left: 1vw;
      border: solid red 1px; }
    div item .checkbox:hover {
      color: mediumseagreen; }
    div item .company-logo {
      width: 7%;
      height: 50%;
      border: solid 0.1vw gray;
      align-self: center;
      margin-right: 1%; }
    div item .profile-picture {
      height: 60%;
      width: 8%;
      border-radius: 50%;
      align-self: center;
      margin-right: 3%;
      margin-left: 2%; }
    div item .personal-details, div item .company-details {
      display: block;
      width: 50%;
      color: darkblue;
      padding-right: 1vw;
      padding-top: 1vw;
      margin-top: 1vw; }
      div item .personal-details span, div item .company-details span {
        font-size: 100%; }
  div item:hover {
    background-color: #5d7177; }
  div .aqua {
    color: #0c88ff; }
  div .gray {
    color: #636363; }
  div .stick-to-right {
    float: right; }
  div .icon {
    width: 1em;
    height: 1em;
    vertical-align: middle; }

/*# sourceMappingURL=styles.css.map */
