<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZoomInfo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/item-direc.js"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app="zoomInfo" ng-controller="myCtrl">
    <div ng-repeat="person in data">
        <item myattr="{{person}}"></item>
    </div>
</body>
</html>