<input type="checkbox" class="checkbox">
<img class="profile-picture" ng-src = "{{person.image}}" onerror = "this.src='images/person_Placeholder.jpeg'" >
<div class="personal-details">
    <span>{{person.firstName}} {{person.lastName}} </span><br>
    <span> {{person.title}} at <strong>{{company.companyName}}</strong></span><br>
    <img class="icon" src="images/dial_icon.svg"> <span class="aqua"> Phone (direct) | </span>
    <img class="icon" src="images/email_icon.svg"><span class="aqua"> Email Reveal </span>
</div>
<img class="company-logo" ng-src = "{{company.companyLogo}}" onerror = "this.src='images/company_Placeholder.png'">
<div class="company-details">
    <span class="aqua"> {{company.companyName}}</span>
    <span class="gray"> | {{company.companyCity}}, {{company.companyState}}</span>
    <span class="gray stick-to-right"> {{company.lastUpdatedDate}} </span>
    <br>
    <span> {{company.topLevelIndustry}}</span><br>
    <span> {{company.companyEmployeeCountRange}} Employees | </span>
    <span> {{company.companyRevenue}}</span>
</div>